# Data Types

## Fundamental Data Type:
- int
- float
- bool
- srt
- list
- tuple
- set
- dict

In [21]:
print('Integer data type:',type(6))
print('Float data type:',type(6.0))
print('Boolian data type:',type(True))
print('String data type:',type('j'))
print('List data type:',type([]))
print('Tuple data type:',type(()))
print('Sets data type:',type(set()))
print('Dictionary data type:',type({}))

Integer data type: <class 'int'>
Float data type: <class 'float'>
Boolian data type: <class 'bool'>
String data type: <class 'str'>
List data type: <class 'list'>
Tuple data type: <class 'tuple'>
Sets data type: <class 'set'>
Dictionary data type: <class 'dict'>

## Numbers

In [27]:
print('This is an exponent:', 4 ** 2)

This is an exponent: 16

In [15]:
print('This is floor division will return rounded number 0.5:', 1 // 2)

This is floor division will return rounded number: 0

In [16]:
print('This is modual it will return the remainder:', 5 % 2)

This is modual it will return the remainder: 1

In [20]:
# Mathe Functions
print('Rounding:', round(3.1))
print('Rounding:', round(3.5))
print('Absolute value:', abs(-3))

Rounding: 3
Rounding: 4
Absolute value: 3

In [22]:
# Binary number funtion this will return 5 in binary 
print(bin(5))

0b101

In [24]:
# Converting to int
print(int('0b101', 2))#(binary, base number)

5

### Variables
- snake_case
- Start with lowercase or underscore
- Can be anything with (Letters, numbers, undersoces)
- Case sensitive
- Don't overwrite keywords.

In [25]:
# assining or binding
iq = 190
print(iq)

190

In [26]:
a,b,c = 1,2,3
print(b)

2

### Expression vs Statements
iq = 100

user = iq / 5

This is an expression: iq / 5

This is a statement: user = iq / 5

### Augmented assingment operator

In [31]:
five = 5
five += 3 # this is the same as five = five + 3
print(five)

8

## String

- 'Hello World!'
- "Hello World!"

In [34]:
print(type('Hello World!'))

username = 'supercoder'
password = 'Syersecret'

# for writing long strings
long_string = '''
WwW
0 0
___
'''
print(long_string)

<class 'str'>

WwW
0 0
___

String concatenation only works with strings

In [37]:
first_name = 'Jobally'
last_name = 'Forde'
full_name = first_name +' '+ last_name
print(full_name)

Jobally Forde

#### Type Conversion

In [39]:
# string conversion
print(str(100))
print(type(str(100)))

100
<class 'str'>

#### Escape Sequence

In [41]:
weather = "It\'is \"kind of\" sunny"
print(weather)

It'is "kind of" sunny

#### Formatting Strings

In [42]:
name = 'Jobally'
print(f"Hello my name is {name}.")

Hello my name is Jobally.

#### String Indexes

In [43]:
selfish = 'em my mey'
         # 123456789         
print(selfish[0])

e

In [53]:
numbers = '012345678'
# [start:end:stepover]
print(numbers[0:7])
print(numbers[7::-2])# odd
print(numbers[8::-2])# even

0123456
7531
86420

#### Immutability

In [54]:
# string are immutable they cannot be change
# the only way to change is to re-assing a value
numbers[0] = 10
print(numbers)

TypeError: 'str' object does not support item assignment

#### Built in functions + Methods
- len() Counts the number of characters in a string from 1 to ...
- .upper() Capitalize all strings
- .capitalize() Capitalize the first character
- .lower() All string in lower case
- .fing() Find a specific sreing in a string and returns the first index the character
- .replace('string to be replaced', 'replace string') Replaceses strings

In [55]:
greet = 'hellloooo'

print(len(greet))
print(greet.upper())
print(greet.capitalize())
print(greet.lower())
print(greet.find('hell'))
print(greet.replace('helll', 'no'))

9
HELLLOOOO
Hellloooo
hellloooo
0
nooooo

In [60]:
print('*' * 6)

******

## Booleans
A boolean can only true or false
- True
- False

In [56]:
name = 'Jobally'

is_cool = True
is_not_cool = False
print(f'jobally is not cool {is_not_cool}')

jobally is not cool False

input()

In [59]:
birth_year = input('what year were you born?')
age = 2025 - int(birth_year)
print(f'you age is: {age}')

what year were you born? 1950

you age is: 75

# Fundamental Part II
- \# This is for commenting in python
- when commenting a code it is for adding valuable comments

#### Password Checker

In [63]:
user = input('username')
password = input('password')

print(f'\nusername {user}, your password {'*' * len(password)} is {len(password)}')

username jobaking
password 1234kingman

username jobaking, your password *********** is 11

## List
A list is ordered in memory

list is a Data Structure

list are mutable it can be changed

In [ ]:
li = [1,2,3,4,5]
li2 = ['a','b','c','d']
li3 = [1,2,'a',True]

#### List Slicing

In [65]:
amazon_cart = [
    'notebooks',
    'sunglasses',
    'toys',
    'grapes'
]

amazon_cart[0] = 'lapton' # this list will create a new list evethime it is updated

print(amazon_cart[0:3]) # this will modify the list
print(amazon_cart)

['lapton', 'sunglasses', 'toys']
['lapton', 'sunglasses', 'toys', 'grapes']

In [66]:
amazon_cart[0] = 'lapton'
new_cart = amazon_cart[0:3]
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

In [67]:
amazon_cart[0] = 'lapton'
new_cart = amazon_cart[:] # this will copy the list
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

['gum', 'sunglasses', 'toys', 'grapes']
['lapton', 'sunglasses', 'toys', 'grapes']

#### Matrices

In [68]:
matrix = [[1,2,3],
          [2,4,6],
          [7,8,9]]

print(matrix[1][1])

4

#### List Methods
##### Adding:
- .append() Adding item to the end of a list
- .insert() Insert an item to a spefic index in a list
- .extend([start, end]) Adding an extended item in a list 100 to 102
##### Removing:
- .pop() Remove item at the end of a list. Items can also be remove at a selectec index .pop(index)
- .remove(value) Remove item at a selected value in a list
- .clear() Remove everything in a list
##### Other:
- .index(value, start, stop) this will return value location(index) in a list
- .count() Counts how many time the value is repeated in a list
- .sort() Sourts a list this will modify the list
- sorted() Sourts a list by producing a new list
- .copy() Copy a list
- reverse() Reverse a list

In [71]:
characters = ['a','b','c','d','e']

print(characters.index('d',0,3))# was not in range

ValueError: 'd' is not in list

In [72]:
print(characters.index('d',0,4))# was in range

3

#### Keywords
- in Checks if value is in a list
- range(staret, end,) Creates a new list by generating a list of numbers
- ''.join([]) Joins elements of a list into a single string, using the empty string `''` as the separator.

In [73]:
print('d' in characters)

True

In [75]:
print(list(range(1,100)),'\n')
print(list(range(100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [78]:
value = ' '
new_sentence = value.join(['Hi', 'me', 'i', 'am', 'king'])
print(new_sentence)

Hi me i am king

In [79]:
# another way of doing the samething
new_sentence = ' '.join(['Hi', 'me', 'i', 'am', 'king'])
print(new_sentence)

Hi me i am king

#### List Unpacking

In [80]:
a,b,c = [1,2,3]

print(a)
print(b)
print(c)

1
2
3

In [81]:
a,b,c, *other = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(other)

1
2
3
[4, 5, 6, 7, 8, 9]

In [82]:
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

#### None
None is a specialized data type

In [83]:
weapons = None
print(weapons)

None

### Dictionaries
A dictionary is an unordered key value pare

Unordered mean they are not next to each other in memory

Dictionary key needs to be immutable the key cannot change

Keys in dictionary must be unique

In [85]:
dictionary = {
    'a': 1,
    'b': 2
}

print(dictionary['b'])

2

In [87]:
dictionary = {
    'a': [1,2,3],
    'b': 'hello',
    'x': True
}

print(dictionary['a'][1])

2

In [88]:
my_list = [{
    'a': [1,2,3],
    'b': 'hello',
    'x': True
},{
    'a': [4,5,6],
    'b': 'hello',
    'x': True
}]

print(my_list[0]['a'][1])

2

# Fundamental Part III

In [89]:
dictionary = {
    123: [1,2,3],
    True: 'hello',
    'is Magic': True
}

print(dictionary[123])

[1, 2, 3]

In [90]:
dictionary = {
    123: [1,2,3],
    True: 'hello',
    'is Magic': True
}

print(dictionary[True])

hello

In [91]:
dictionary = {
    123: [1,2,3],
    True: 'hello',
    'is Magic': True
}

print(dictionary['is Magic'])

True

In [93]:
dictionary = {
    123: [1,2,3],
    True: 'hello',
    [100]: True
}

print(dictionary[100])# a list is mutable cannot be a key

TypeError: unhashable type: 'list'

In [94]:
dictionary = {
    '123': [1,2,3],
    '123': 'hello',
}

print(dictionary['123'])# it will use the last key

hello

#### Dictionary Methods
- .get() Check if a key exist
- .get(if key doesnt exist, add this value)
- dict(key=value) Another way to create a dictionary not recommended
- .keys() Get keys
- .values() Get values
- .items() Get keys and values
- .popitem() Will remove the last key value that was added to the dictionary
- .update({})

In [95]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
}

print(user.get('age'))

None

In [96]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
}

print(user.get('age', 55)) # if the index doesnt exis add 'age' and give 55 as a value

55

In [97]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 22
}

print(user.get('age'))# age exist it will print 22

22

In [99]:
user2 = dict(name='Joba')
print(user2)

{'name': 'Joba'}

In [100]:
# another way to check if a key exist
print('basket' in user)

True

In [107]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 22
}

print('age' in user.keys())
print(user.keys())
print('hello' in user.values())
print(user.values())

True
dict_keys(['basket', 'greet', 'age'])
True
dict_values([[1, 2, 3], 'hello', 22])

In [106]:
print(user.items())

dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 22)])

In [108]:
print(user.update({'age': 55}))
print(user)

None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55}

### Tuple
- tuples are immutable they cannot be change
- tuples are faster then list

In [110]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1])

2

In [111]:
new_tuple = my_tuple[1:2] 
print(new_tuple)

(2,)

#### Tuple Methods
- .count() Retruns the number of times a specified value occures in a tuple
- index() Seaches the tuple for a specified vlaue and returns the position of where it was found

### Sets
- Sets are unorderd collection of unique objects
- In a set there are no duplicats

In [112]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [113]:
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

In [114]:
my_set.add(100)
my_set.add(2)
print(my_set)

{1, 2, 3, 4, 5, 100}

#### Set Methods
- .difference() Any dupplicate betwee two sets get ignored
- .dicard() Removes specific a value from set
- .difference_update() Modifies the set 
- .intersection() Check values that repeats in the two sets will return the values that repeat
- .isdisjoint() Check values that repeats in the two sets will return true or false
- .issubset() Checks if one set is in another set retruns a bool
- .issuperset() Same as issubset() but revers
- .union() combine both set without dupplicats and will return new set

In [126]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))

{1, 2, 3}

In [116]:
print(my_set.discard(5))

None

In [117]:
print(my_set)

{1, 2, 3, 4}

In [119]:
print(my_set.difference_update(your_set))

None

In [120]:
print(my_set)

{1, 2, 3}

In [123]:
print(my_set.intersection(your_set))

{4, 5}

In [127]:
print(my_set & (your_set))# do the same as intersection

{4, 5}

In [124]:
print(my_set.isdisjoint(your_set))

False

In [125]:
print(my_set.union(your_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [128]:
print(my_set | (your_set)) # do the same as union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [130]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.issubset(your_set))

True

In [132]:
print(your_set.issuperset(my_set))

True